/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-21, 18:10:05
    Author     : wilku
*/
/* Deklaracja dla znacznikow HTML*/
html, body {
}

/* Deklaracja dla klas*/
.naszaklasa {
}

/*Deklaracja dla IDków*/
#szachy{
    width: 800px;
    height: 800px;
    border: 1px solid gainsboro;
}

#szachy>div{
    
    height: 12.5%;
    width:100%;
}
/*co 2 na szaro (odd lub even)*/
#szachy>div:nth-child(even){
    
    /*background-color:gray;*/
}

/*dzielimy na kwadraty*/
#szachy>div>div{
    
    width:12.5%;
    height:100%;
    float:left;
}
#szachy>div:nth-child(odd)>div:nth-child(odd){
    
    background-color: grey;
    
}
#szachy>div:nth-child(even)>div:nth-child(even){
    
    background-color: grey;
    
}

#szachy .pionek{
    
    background: url('img/pawn_48.png') center center/100% auto;
    
}


